extends ../layout 

block content 

    h1 Nueva bicicleta 
    br
    form(action='/bicicletas/create' method='post' )
        label(for="id") ID: 
        input#id(type="text" name='id')
        br
        br
        label(for="color") Color: 
        input#color(type="text" name='color')
        br
        br
        label(for="modelo") Modelo: 
        input#modelo(type="text" name='modelo')
        br
        br
        label(for="lat") Latitud: 
        input#modelo(type="text" name='lat')
        br
        br
        label(for="lng") Longitud: 
        input#modelo(type="text" name='lng')
        br
        br
        input(type="submit" value='Crear')